body{
  margin: 0%; 
}


li a:hover {
  color: blue;
}


header{
 background-image: url("https://i.stack.imgur.com/zRInk.png");
  height:246px;}

 #logo {margin-left: 5%;
   width:7.5%;
    filter: invert(100%);
     position: relative; 
     right: 0px;
      bottom: -2px;
      }

 
  h1 {font-family: Audiowide; 
    font-size: 3pc; 
     display: inline-block;
      color: white;
  position: relative;
   right: 50px; 
   bottom:30px;
  }


#first { 
  padding:20% ;
   font-family: Audiowide;
    font-size: 3pc;   
}


#hero {float:right;}


#secound {
  padding: 10%;
  font-family: Tahoma;
    font-size: 1.9pc;
    text-align: center;
}



#cat{position: relative; right: -500px;  bottom: 70px }




.op {opacity: 0.5 ;}

  #monday {position: relative;
   right: ; 
    bottom: ;
    }

  
  nav {font-family: Audiowide;
   font-size: 1.5pc;  
      float: right;
       margin-right: 2%; 
       }

  
  
  header nav ul li a{
 text-decoration: none;
  color:white;
    }

 

 footer {
     margin-top: 30% ; 
  height:246px ;  
  text-align: center; 
   background-image: url("zRInk1.png");
   }


div {position: relative ; 
 bottom: -160px; 
  color: white;
   }


footer a {text-decoration: none; color:white;}
 
 footer a:hover {
  color: blue;
}
  
  
  header nav ul li {display: inline-block;}















@media screen and (max-width: 800px) {
  
  
  * {margin: 0;
  padding: 0;}
  
  
  
  body{
  margin: 0%;
  
}

header{
 background-image: url("https://i.stack.imgur.com/zRInk.png");
     width:375px;  }



 #logo { 
  width:22%;
    position: relative; right: 10%  top: 10%
   
     }
 
 
   h1 {   font-size: 1.9pc;  
  display: inline-block; 
   position: relative; 
  right: 25px; bottom:25px;

  } 

nav ul li {   
  font-size: 0.9pc; 
 display: center;
 margin-right: -2%;
 }



#hero {
  display: none;   }


#first { 
  
   font-family: Arial;
    font-size: 0.9pc;
    text-align: center;
    
}


#secound {
  
  font-family: Arial;
    font-size: 0.9pc;
    text-align: center;
}



.op {opacity: 0.5 ; width: 150px; height: 150px;  }

  #cat{
    position: relative;
    right: 0%;
   bottom: -5px;
   width: 110px;
   height:210px; ;
    }

  
  nav {font-family: Audiowide; font-size: 1.5pc;  
      float: right; margin-right: 2%; }

  header nav ul li a{
 text-decoration: none; color:white;  }

 

 footer {  margin-top: 30% ; 
  height:246px ; 
   text-align: center; 
    background-image: url("zRInk1.png");
    font-size: 0.9pc;
    }


div {position: relative ;  bottom: -160px;  color: white; }


footer a {text-decoration: none; 
color:white;
font-size: 0.9pc;
}
 
  
  
   
  
}

  

  